.badges-container {
  min-height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.conf-logo {
  width: 250px;
}

.badge-btn {
  background-color: var(--softBlueColor);
  color: var(--whiteGreyColor);
}
.badge-btn:hover {
  background-color: var(--darkBlueColor);
  color: var(--whiteGreyColor);
}

.badge {
  width: 400px;
  height: 420px;
}

.inside-badge-conf-logo-container {
  width: 100%;
  background-color: var(--softBlueColor);
}

.inside-badge-conf-logo {
  width: 120px;
}

.avatar-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name-container {
  width: 230px;
}
.name-container h2 {
  font-size: 25px;
}

.info-container {
  width: 100%;
  background-color: #e2e2e2;
  font-size: 16px;
}
.twitter {
  color: var(--softBlueColor);
  font-size: 14px;
}

.hashtag-container {
  color: var(--softBlueColor);
  font-size: 16px;
  font-style: italic;
}

.go-back {
  color: var(--darkBlueColor);
}
.go-back:hover {
  cursor: pointer;
}

.badge-sample {
  color: #000000;
  width: 450px;
  padding: 0;
}

.sample-avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}

.sample-content {
  width: 360px;
  margin: 0 10px;
}

.sample-content p {
  margin: 0;
}

.sample-job-title{
  font-size: 12px;
}

.sample-accent-color{
  background-color: var(--softBlueColor);
  width: 30px;
  height: 64px;
}

.badge-form {
  width: 300px;
}
.badge-form input {
  width: 260px;
}