.home-container {
	min-height: calc(100vh);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	background-color:var(--redColor);
	color: var(--whiteGreyColor);
	padding-top: 20px;
	 padding-bottom: 120px; /* Img offset + 20px to space out */
}

.profile-photo {
	width: 200px;
	border-radius: 50%;
	margin-top: -100px;
}

.project-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}