.navbar-container {
	background-color:  var(--redColor);
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2%;
}
.back-home {
	color: var(--whiteGreyColor);
}
.back-home:hover{
	color: var(--whiteGreyColor);
}
.react-logo {
	color: var(--whiteGreyColor);
	font-size: 24px;
}
