:root {
	--redColor: #920000;
	--softBlueColor: #3a82a8;
	--darkBlueColor: #274a79;
	--whiteGreyColor:  #f3f3f3;
}

.app {
  background-color: var(--whiteGreyColor);
  min-height: 100vh;
}

.link {
	color: var(--darkBlueColor)
}
.link:hover {
	text-decoration: none;
	color: 	var(--softBlueColor);
}

.footer {
	background-color: var(--darkBlueColor);
	margin: 0;
}

.social-link {
	text-align: center;
}

.social-link a {
	color: var(--whiteGreyColor);
}

.social-link a:hover {
	text-decoration: none; 
}